/*--------------------------------------------------------------
>>> GLOBAL - TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Typography
2.0 Elements
3.0 Header
4.0 Content
5.0 Footer

--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Typography
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lato:300,400,700,900|Pragati+Narrow:400,700');

body {
    font: 18px/1.66 'Lato', Arial, sans-serif;
    color: #181818;
    overflow-x: hidden;
    margin: 0;
    background: #fff;
    min-width: 320px;
    position: relative;
    transition: right 0.2s ease;
    -webkit-transition: right 0.2s ease;
    right: 0;
}

body.body_move {
    right: 260px;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Pragati Narrow', sans-serif;
    margin: 0 0 15px;
    font-weight: bold;
}

h1 {
    font-size: 60px;
    color: #fafafb;
}

h2 {
    font-size: 36px;
    color: #a80101;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

h3 {

}

h4 {
    font-size: 18px;
    color: #3f3d3d;
    margin-bottom: 5px;
    text-transform: uppercase;
}

h5 {

}

h6 {

}

p {
    margin-bottom: 15px;
}

a {
    color: #181818;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #a80101;
}

b, strong {

}

span {

}

ul {
    padding-left: 20px;
}

address {
    margin-bottom: 15px;
}

address p {
    margin: 0 0 5px;
}

/* Extra small devices (phones, less than 767px) */
/* No media query since this is the default in Bootstrap */

/* Large devices (large desktops, 1200px and below) */
@media (max-width: 1199px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }
}

/* Medium devices (tablets, 991px and below) */
@media (max-width: 991px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 28px;
    }
}

/* Small devices (mobile, 767px and below) */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        margin-bottom: 10px;
    }
}

/*--------------------------------------------------------------
2.0 Elements
--------------------------------------------------------------*/
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.slick-slider *, .slick-slider *:focus {
    outline: none;
}

.slick-slider img {
    display: inline-block;
}

textarea {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    font-size: 16px;
    line-height: 1.25;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 170px;
    resize: none;
    display: block;
    color: #fdfdfe;
    font-style: italic;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    opacity: 0;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    opacity: 0;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    opacity: 0;
}

label {
    display: block;
    cursor: pointer;
    font-weight: normal;
}

.btn, input[type="submit"] {
    color: #fff;
    background: #255291;
    border: none;
    border-radius: 50px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    padding: 15px 25px;
    font-size: 18px;
    line-height: 1.25;
    white-space: normal;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    min-width: 170px;
}

.btn:hover,
.btn:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    color: #255291;
    background: #fff;
}

.btn-red {
    background: #a80101;
}

.btn-red:hover,
.btn-red:focus {
    color: #a80101;
    background: #fff;
}

iframe {
    vertical-align: top;
}

.custom-table {
    display: table;
    height: 100%;
    width: 100%;
}

.custom-table-row {
    display: table-cell;
    vertical-align: middle;
}

.indent-block {
    padding: 65px 0;
}

mark,
.mark {
    background: none;
    padding: 0;
    color: #c11a1a;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.mb-none {
    margin-bottom: 0 !important;
}

.mb-sm {
    margin-bottom: 20px;
}

.mb-md {
    margin-bottom: 40px;
}

.mb-lg {
    margin-bottom: 60px;
}

.onload-block {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 105;
    background: #fff;
}

.preloader {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
    z-index: 2;
}

/* Large devices (large desktops, 1200px and below) */
@media (max-width: 1199px) {
    .btn, input[type="submit"] {
        padding: 12px 25px;
        font-size: 16px;
        min-width: 140px;
    }

    .indent-block {
        padding: 50px 0;
    }

    .mb-sm {
        margin-bottom: 15px;
    }

    .mb-md {
        margin-bottom: 30px;
    }

    .mb-lg {
        margin-bottom: 50px;
    }
}

/* Medium devices (tablets, 991px and below) */
@media (max-width: 991px) {
    .btn, input[type="submit"] {
        padding: 10px 25px;
        min-width: 0;
    }

    .indent-block {
        padding: 35px 0;
    }

    .mb-sm {
        margin-bottom: 10px;
    }

    .mb-md {
        margin-bottom: 20px;
    }

    .mb-lg {
        margin-bottom: 30px;
    }
}

/* Small devices (mobile, 767px and below) */
@media (max-width: 767px) {
    .col {
        margin-bottom: 15px;
    }

    .indent-block {
        padding: 20px 0;
    }
}

/*--------------------------------------------------------------
3.0 Header
--------------------------------------------------------------*/
.site-header {
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 45px;
}

.site-header .flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.site-nav .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.25;
}

.site-nav .menu > li {
    display: inline-block;
    vertical-align: middle;
}

.site-nav .menu > li:not(:last-child) {
    margin-right: 16px;
}

.site-nav .menu > li > a {
    display: block;
    padding: 8px 0;
    position: relative;
    color: #fff;
}

.site-nav .menu > li > a:before,
.site-nav .menu > li > a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: #a80101;
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
}

.site-nav .menu > li > a:before {
    left: 0;
    top: 0;
}

.site-nav .menu > li > a:after {
    right: 0;
    bottom: 0;
}

.site-nav .menu > li:hover > a:before,
.site-nav .menu > li:hover > a:after,
.site-nav .menu > li:focus > a:before,
.site-nav .menu > li:focus > a:after,
.site-nav .menu > .current-menu-item > a:before,
.site-nav .menu > .current-menu-item > a:after {
    width: 85%;
}

.menu-btn {
    display: none;
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    position: relative;
    width: 36px;
    height: 38px;
    overflow: hidden;
    clear: both;
}

.menu-btn > span {
    display: block;
    position: absolute;
    top: 17px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #f2f2f2;
}

.menu-btn > span:before, .menu-btn > span:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #f2f2f2;
    content: "";
    -webkit-transition-duration: .3s, .3s;
    transition-duration: .3s, .3s;
    -webkit-transition-delay: .3s, 0s;
    transition-delay: .3s, 0s;
}

.menu-btn > span:before {
    top: -10px;
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
}

.menu-btn > span:after {
    bottom: -10px;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
}

.menu-btn.active > span {
    background: transparent;
}

.menu-btn.active > span:before, .menu-btn.active > span:after {
    -webkit-transition-delay: 0s, .3s;
    transition-delay: 0s, .3s;
    background: #a80101;
}

.menu-btn.active > span:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-btn.active > span:after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Large devices (large desktops, 1200px and below) */
@media (max-width: 1199px) {
    .site-header {
        padding-top: 15px;
    }

    .site-header .site-logo {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
    }

    .site-header .flex-container {
        display: block;
        text-align: center;
    }
}

/* Medium devices (tablets, 991px and below) */
@media (max-width: 991px) {
    .site-header {
        padding-top: 15px;
    }

    .site-nav .menu {
        font-size: 14px;
    }

    .site-nav .menu > li:not(:last-child) {
        margin-right: 12px;
    }
}

/* Small devices (mobile, 767px and below) */
@media (max-width: 767px) {
    .site-header .site-logo {
        max-width: 170px;
        margin-bottom: 0;
    }

    .site-header .flex-container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .site-header .menu-btn {
        display: block;
    }

    .site-nav {
        position: fixed;
        width: 260px;
        right: -260px;
        top: 0;
        bottom: 0;
        background: #333;
        -webkit-transition: right 0.2s ease;
        transition: right 0.2s ease;
        text-transform: uppercase;
        z-index: 15;
        overflow-y: scroll;
        text-align: left;
    }

    .site-nav.active {
        right: 0;
    }

    .site-nav .menu > li {
        border-top: 1px solid #1a1a1a;
        border-bottom: 1px solid #4d4d4d;
        padding: 0;
        display: block;
        margin: 0;
    }

    .site-nav .menu > li:not(:last-child) {
        margin-right: 0;
    }

    .site-nav .menu > li a {
        padding: 12px 15px;
        color: #fff;
    }

    .site-nav .menu > li > a:before,
    .site-nav .menu > li > a:after {
        height: 100%;
    }

    .site-nav .menu > li:hover > a:before,
    .site-nav .menu > li:hover > a:after,
    .site-nav .menu > li:focus > a:before,
    .site-nav .menu > li:focus > a:after,
    .site-nav .menu > .current-menu-item > a:before,
    .site-nav .menu > .current-menu-item > a:after {
        width: 6px;
    }
}

/*--------------------------------------------------------------
4.0 Content
--------------------------------------------------------------*/
.main {
    overflow: hidden;
}

.indent-block ul {
    list-style: none;
    padding: 0;
}

.indent-block ul li {
    padding-left: 20px;
    position: relative;
}

.indent-block ul li:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #cc364f;
}

.info-line {
    background: #e1e1e1;
    padding: 30px 0;
}

.info-line .title {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.page-link-list {
    overflow: hidden;
    margin: 0 -15px -30px;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.26;
}

.page-link-list .page-link {
    display: block;
    float: left;
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.page-link-list .page-link a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: center center no-repeat;
    background-size: cover;
    height: 300px;
    color: #fff;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 0 30px;
}

.page-link-list .page-link:hover a {
    opacity: .6;
}

.bottom-block {
    background: #a80101;
}

.bottom-block h2 {
    color: #fdfdfe;
    margin-bottom: 25px;
}

.subheader {
    background: center center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 170px 0 100px;
}

.subheader h1 {
    margin: 0;
    font-weight: normal;
}

.simple-slider .slick-slide {
    padding: 30px;
}

.simple-slider .slick-slide:hover .img-box {
    border-color: #a80101;
}

.simple-slider .img-box {
    padding-bottom: 75%;
    background: center center no-repeat;
    background-size: cover;
    border: 2px solid transparent;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.simple-slider .slick-center .img-box {
    transform: scale(1.2);
    border-color: #a80101;
}

.simple-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -25px 0 0;
    font-size: 0;
    line-height: 0;
    min-width: 0;
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    z-index: 10;
    opacity: .5;
    color: #ae1313;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.simple-slider .slick-arrow:hover {
    opacity: 1;
}

.simple-slider .slick-prev {
    left: -15px;
}

.simple-slider .slick-next {
    right: -15px;
}

.simple-slider .slick-arrow:before {
    font-family: 'FontAwesome', sans-serif;
    font-size: 50px;
    line-height: 1;
    vertical-align: top;
}

.simple-slider .slick-prev:before {
    content: "\f0d9";
}

.simple-slider .slick-next:before {
    content: "\f0da";
}

.search-form {
    max-width: 500px;
    margin: 0 auto;
}

.search-form .search-field {
    border-color: #255291;
    margin-bottom: 15px;
    height: 46px;
    color: #0b0b0b;
}

/* Large devices (large desktops, 1200px and below) */
@media (max-width: 1199px) {
    .info-line {
        padding: 25px 0;
    }

    .info-line .title {
        font-size: 26px;
        margin-bottom: 5px;
    }

    .page-link-list {
        margin: 0 -10px -20px;
        font-size: 26px;
    }

    .page-link-list .page-link {
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .page-link-list .page-link a {
        height: 270px;
        padding: 15px;
    }

    .bottom-block h2 {
        margin-bottom: 20px;
    }
}

/* Medium devices (tablets, 991px and below) */
@media (max-width: 991px) {
    .info-line {
        padding: 20px 0;
    }

    .info-line .title {
        font-size: 22px;
    }

    .page-link-list {
        margin: 0 -5px -10px;
        font-size: 22px;
    }

    .page-link-list .page-link {
        padding: 0 5px;
        margin-bottom: 10px;
    }

    .page-link-list .page-link a {
        height: 220px;
    }

    .subheader {
        padding: 140px 0 65px;
    }

    .indent-block ul li {
        padding-left: 15px;
    }

    .indent-block ul li:before {
        width: 6px;
        height: 6px;
    }

    .simple-slider .slick-slide {
        padding: 20px;
    }
}

/* Small devices (mobile, 767px and below) */
@media (max-width: 767px) {
    .info-line .title {
        font-size: 20px;
    }

    .info-line address {
        margin-bottom: 10px;
    }

    .page-link-list {
        margin: 0 0 -15px;
        font-size: 20px;
        text-align: center;
    }

    .page-link-list .page-link {
        width: 100%;
        max-width: 290px;
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 15px;
    }

    .page-link-list .page-link a {
        height: 200px;
        padding: 5px;
    }

    .indent-block ul li {
        padding-left: 10px;
    }

    .indent-block ul li:before {
        width: 4px;
        height: 4px;
    }

    .subheader {
        padding: 100px 0 60px;
    }

    .simple-slider .slick-slide {
        padding: 0 10px;
    }

    .simple-slider {
        padding: 0 15px;
    }

    .simple-slider .slick-next {
        right: -5px;
    }

    .simple-slider .slick-prev {
        left: -5px;
    }
}

@media (max-width: 480px) {
    .simple-slider {
        padding: 0;
    }
}

/*--------------------------------------------------------------
5.0 Footer
--------------------------------------------------------------*/
.site-footer {
    background: #e1e1e1;
    padding-top: 50px;
}

.site-footer .foo-logo {
    display: block;
    max-width: 210px;
}

.site-footer .menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-footer address {
    margin: 0;
    line-height: inherit;
}

.site-footer .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-footer .contact-list li {
    overflow: hidden;
}

.site-footer .contact-list .fa {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    color: #a80101;
    font-size: 20px;
    line-height: 26px;
}

.site-footer .contact-list li > p {
    overflow: hidden;
}

.site-footer p {
    margin-bottom: 0;
}

.site-footer .secondary-footer {
    background: #255291;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    margin-top: 35px;
}

.site-footer .secondary-footer p {
    margin: 0;
}

.site-footer .secondary-footer a {
    color: #fff;
}

.site-footer .secondary-footer a:hover {
    color: #c11a1a;
}

.site-footer .secondary-footer a:hover mark {
    color: #fff;
}

/* Large devices (large desktops, 1200px and below) */
@media (max-width: 1199px) {
    .site-footer {
        padding-top: 30px;
        font-size: 14px;
    }

    .site-footer .foo-logo {
        max-width: 180px;
    }

    .site-footer .secondary-footer {
        margin-top: 25px;
    }
}

/* Medium devices (tablets, 991px and below) */
@media (max-width: 991px) {
    .site-footer .row > .col-md-6:first-child {
        margin-bottom: 15px;
    }
}

/* Small devices (mobile, 767px and below) */
@media (max-width: 767px) {
    .site-footer .contact-list .fa {
        width: 20px;
        margin-right: 5px;
        font-size: 16px;
        line-height: 24px;
    }
}
